[submodule "themes/hugo-theme-hamburg"]
	path = themes/hugo-theme-hamburg
	url = https://github.com/hauke96/hugo-theme-hamburg.git
[submodule "themes/jeffprod"]
	path = themes/jeffprod
	url = https://github.com/Tazeg/hugo-blog-jeffprod.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/material"]
	path = themes/material
	url = https://github.com/Xzya/hugo-material-blog.git
[submodule "themes/story"]
	path = themes/story
	url = https://github.com/xaprb/story.git
[submodule "themes/wave"]
	path = themes/wave
	url = https://gitlab.com/syui/hugo-theme-wave.git